# ARRAYS / LIST

In [46]:
# syntax -> listName[default=0 : default=len(listName)]
ls = [1, 4, 3, 343, 6435, 2, 8, 35, 543, 7]
print(type(ls))
print(ls[-2])
print(ls[len(ls)-2]) # better way to write negative idexing -> converted in positive index

<class 'list'>
543
543

### Checking Value's presence

In [47]:
# if value in ls -> used to check weather a value exsist in the list or not 
# int value and string value will not be considered same 
if 4 in ls:
    print(True)
else:
    print(False)
if "4" in ls:
    print(True)
else:
    print(False)

True
False

### Slicing

In [48]:
# Slicing -> listName[start : end : jumpindex]
print(ls[:])
print(ls[2:5])
print("---------------------------------------------")
# Slicing does not affect main list. Returns new list
print(ls)
var = ls[2:5]
print(var)
print("---------------------------------------------")
# Now using jump index
print(ls)
print(ls[::3])
print("---------------------------------------------")

[1, 4, 3, 343, 6435, 2, 8, 35, 543, 7]
[3, 343, 6435]
---------------------------------------------
[1, 4, 3, 343, 6435, 2, 8, 35, 543, 7]
[3, 343, 6435]
---------------------------------------------
[1, 4, 3, 343, 6435, 2, 8, 35, 543, 7]
[1, 343, 8, 7]
---------------------------------------------

### List Comprehension
    Syntax = [ <expression_if_true> if <condition> else <expression_if_false> for item in iterable ]

In [49]:
# ADDING VALUES VIA STATEMENT
wholeNumbers = [i for i in range(0, 10)]
print(wholeNumbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
# USING IF-ELSE
evenNumbers = [i if i%2==0 else "odd" for i in wholeNumbers ]
print(evenNumbers)

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [51]:
# USING IF-ELIF-ELSE
val = [
    "multiple of two" if i%2==0
    else "multiple of three" if i%3==0
    else i 
    for i in wholeNumbers
]
print(val)

['multiple of two', 1, 'multiple of two', 'multiple of three', 'multiple of two', 5, 'multiple of two', 7, 'multiple of two', 'multiple of three']

In [52]:
# STRING EXAMPLE 
# Only if used after for 
names = ["john", "don", "motu", "patlu", "to"]
namesWith_o = [
    i for i in names
    if "o" in i
]
print(namesWith_o)

['john', 'don', 'motu', 'to']

In [53]:
# STRING FILTERATION BY LENGTH 
namesWithLength_3 = [
    i if len(i)<=3
    else "len>3"
    for i in names
]
print(namesWithLength_3)

['len>3', 'don', 'len>3', 'len>3', 'to']

### METHODS

In [56]:
# every Method will change the main list as it is mutable
ls.reverse()
print(ls)
ls.sort(reverse=True) # By default ascending
print(ls)

[1, 2, 3, 4, 7, 8, 35, 343, 543, 6435]
[6435, 543, 343, 35, 8, 7, 4, 3, 2, 1]

In [57]:
# to check index value of any particular value 
ls.index(343)

2

In [ ]:
# to count repetation of any value
# NOTE : in jupyter print is not required but elsewhere print will be required to catch the value 
ls.count(7)

2

In [65]:
# To create list without referencing 
m = ls.copy()
print(m)
# any changes made to m will not affect to ls
m.append(000)
print("printing m value =",m)
print("printing ls value =",ls)
# below will reference original one so affect the original value as well 
ref = ls
ref.append(0)
print("printing value changed due to referencing",ls)

[6435, 543, 343, 35, 8, 7, 4, 3, 2, 1, 7]
printing m value = [6435, 543, 343, 35, 8, 7, 4, 3, 2, 1, 7, 0]
printing ls value = [6435, 543, 343, 35, 8, 7, 4, 3, 2, 1, 7]
printing value changed due to referencing [6435, 543, 343, 35, 8, 7, 4, 3, 2, 1, 7, 0]

In [ ]:
# To insert value on a particular location 
# Value of the mentioned location will succed with one as per position 
m.insert(4, "newValue")
print(m)

[6435, 543, 343, 35, 'newValue', 8, 7, 4, 3, 2, 1, 7, 0]

In [68]:
# to insert whole new list in a exsisting list = APPEND
# to insert just the values = EXTEND  
new1 = ['@', '$']
m.append(new1)
print(m)
m.extend(new1)

[6435, 543, 343, 35, 'newValue', 8, 7, 4, 3, 2, 1, 7, 0, ['@', '$'], '@', '$', ['@', '$']]

In [70]:
# CONCATENATE LIST
# when adding new list values without changing exsisting list 
new2 = ls + new1
print(new2)

[6435, 543, 343, 35, 8, 7, 4, 3, 2, 1, 7, 0, '@', '$']

In [3]:
str1 = ""
str2 = "i"
str3 = str1 + str2
print(str3)

i